.nav-person-img {
    display: block;
    margin: auto;
    padding: 10px;
    width: 120px;
    max-width: 100%;
    -webkit-transition: width 200ms, opacity 200ms;
    transition: width 200ms, opacity 200ms;
    border-radius: 5000px;
}

.nav-person-img:hover {
    opacity: 0.5;
    width: 130px;
}

.nav-person-container {
    text-align: center;
    border: 2px;
}

.nav-person-name {
    font-size: 15px;
}

.nav-item-icon {
    display: inline;
    width: 30px;
    max-width: 100%;
    vertical-align: middle;
}

.nav-item-name {
    font-size: 13px;
    font-weight: bold;
}